#Question 1:  Write a code to create a string with your name and print it.

In [3]:
str= "shyamala"
print(str)

shyamala

#Question 2:  Write a code to find the length of the string "Hello World".

In [6]:
str ="Hello World"
length = len(str)
print("The length of the string is:",length)

The length of the string is: 11

#Question 3:  Write a code to slice the first 3 characters from the string "Python Programming".

In [9]:
str = "Python Programming"
sliced_string =str[ :3]
print("The sliced string is:",sliced_string)

The sliced string is: Pyt

#Question 4:  Write a code to convert the string "hello" to uppercase.

In [10]:
str = "hello"
upper_case_str =str.upper()
print("The string in uppercase is:",upper_case_str)

The string in uppercase is: HELLO

#Question 5:  Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [11]:
from os import replace
str = "I like apple"
replace_str = "I like orange"
print("The replaced string is:",replace_str)

The replaced string is: I like orange

#Question 6:  Write a code to create a list with numbers 1 to 5 and print it.

In [23]:
#method 1
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [30]:
#method 2
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

#Question 7:  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [32]:
numbers = [1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

#Question 8:  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [33]:
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

#Question 9:  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [34]:
list = ['a','b','c','d']
second_element = list[1]
print(second_element)

b

#Question 10:  Write a code to reverse the list [10, 20, 30, 40, 50].

In [39]:
numbers =[10,20,30,40,50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

#Question 11: Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [41]:
#method 1
numbers=(100,200,300)
print(numbers)

#method 2
numbers=tuple([100,200,300])
print(numbers)

(100, 200, 300)
(100, 200, 300)

#Question 12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [44]:
colors = ('red','green','blue','yellow')
second_to_last =colors[-2]
print(second_to_last)

blue

#Question 13: Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [45]:
tuple = (10, 20, 5, 15)
minimum_number = min(tuple)
print(minimum_number)

5

#Question 14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [47]:
tuple = ('dog','cat','rabbit')
index = tuple.index('cat')
print(index)

1

#Question 15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [48]:
fruits = ("apple", "banana", "cherry")        #create tuple
if "kiwi" in fruits:                          # Check if "kiwi" is in the tuple
  print("Yes, kiwi is in the fruits tuple")
else:
  print("No, kiwi is not in the fruits tuple")

No, kiwi is not in the fruits tuple

#Question 16: Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [50]:
set = {'a','b','c'}
print(set)

{'c', 'b', 'a'}

#Question 17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [51]:
set = {1,2,3,4,5}
set.clear()
print("set after clearing:",set)

set after clearing: set()

#Question 18: Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [60]:
set= {1,2,3,4}
set.discard(4)
print(set)

{1, 2, 3}

#Question 19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [62]:
from re import S
from typing import Union
s1 = {1,2,3}
s2 = {3,4,5}
union_set =s1.union(s2)
print(union_set)

{1, 2, 3, 4, 5}

#Question 20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [64]:
s1 ={1,2,3}
s2 ={2,3,4}
intersection_set= s1.intersection (s2)
print(intersection_set)

{2, 3}

#Question 21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [5]:
my_dict = {

           "name": "Shyamala",
            "age": 30,
           "city": "Bangalore"
}
print(my_dict)

{'name': 'Shyamala', 'age': 30, 'city': 'Bangalore'}

#Question 22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [7]:
person = {'name': 'John','age':25}
person.update({'Country':'USA'})
print(person)

{'name': 'John', 'age': 25, 'Country': 'USA'}

#Ques

#Question 23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [8]:
person = {'name':'Alice','age':30}
name = person['name']
print(name)

Alice

#Question 24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [11]:
person = {'name': 'Bob','age':22,'city':'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

#Question 25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [12]:
person = {'name':'Alice','city':'Paris'}
if 'city' in person:
  print("The key 'city' exists in the dictioanry.")
else:
  print("The key 'city'does not exists in the dictionary.")

The key 'city' exists in the dictioanry.

#Question 26: Write a code to create a list, a tuple, and a dictionary, and print them all.

In [13]:
my_list =[1,2,3,4,5]
print("List:",my_list)

my_tuple =(6,7,8,9,10)
print("Tuple:",my_tuple)

my_dict ={'name':'Dev','age':20,'city':'Bangalore'}
print("Dictionary:",my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (6, 7, 8, 9, 10)
Dictionary: {'name': 'Dev', 'age': 20, 'city': 'Bangalore'}

#Question 27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [4]:
#generate a list of 5 random numbers between 1 and 100
import random
random_numbers = random.sample(range(1,101),5)
print("original list:",random_numbers)

#sort the list in ascending order
random_numbers.sort()
print("sorted list:",random_numbers)

original list: [59, 13, 88, 16, 5]
sorted list: [5, 13, 16, 59, 88]

#Question 28: Write a code to create a list with strings and print the element at the third index.

In [5]:
string_list =['apple','banana','orange','grapes']
print(string_list[2])                                    #print the element at the third index

orange

#Question 29: Write a code to combine two dictionaries into one and print the result.

In [7]:
dict1 = {'a':1,'b':2}
dict2 = {'c':3,'d':4}
combined_dict ={**dict1,**dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#Question 30: Write a code to convert a list of strings into a set.

In [8]:
string_list=['apple','orange','banana','orange','apple']
strings_set =set(string_list)
print(strings_set)

{'orange', 'apple', 'banana'}